body{
  font-family: "Museo", sans-serif;
	background: url(https://github.com/Reaper129/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true)
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
}

#left a{
	margin: 20px;
}

#right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#right img {
		margin: 10px;
		width: 30px;
	border-radius: 20%;
} 

#login{
	display: flex;
	flex-direction: row;
}
#login p{
	margin: 5px;
}
.banner {
  display: flex;
  width: 97%;
  height: 60vh;
  background-color: darkgrey;
	
	align-items: flex-end;
	color: white;
  border: 10px solid white;
	margin: 22px;
}

#featured {
	position: absolute;
	top: 45%;
}

#arrowleft {
	width: 70px;
	position: absolute;
	top: 40%;
	left: 12px;
}

#arrowright {
	width: 70px;
	position: absolute;
	top: 40%;
	left: 95%;
}
	
.icon {
	width: 50px;
	align-self: flex-start;
}

.lowerbanner {
	display: flex;
	height: 30px;
  width: 100%;
  background-color: grey;
  align-items: center;
	justify-content: flex-end;
	padding-right:10px;
}

.img {
	margin: 20px 10px;
	height: 40vh;
	width: 60vh;
	background-color: #696969;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white
}

#nessst {
	display: flex;
	justify-content: center;
	font-size:2em;
}
#gallery {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}
div {
	display: flex;
	justify-content: center;
}

.button {
	text-decoration: none;
	background: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
	color: white;
	background-color: #666;
	background-blend-mode: overlay;
	padding: 10px 70px;
	top: 260vh;
	margin-bottom: 20px;
}
	
.twitterbar{
	height: 10%;
  width: 100%;
	color:white;
	background-color: #484848;
  justify-content: center;
  align-items: center;
	top: 275vh;
}

.footer-columns	{
	display: flex;
	flex-direction: row;
	background: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
	color: white;
	background-color: #666;
	background-blend-mode: overlay;
	width: 100%;
}

.column{
	display: flex;
	color: white;
	flex-direction: column; 
	height: 100%;
	width:30%;
	margin: 20px 20px 40px 20px; 
}

.footnav img{
	align-self: center;
}

#footnav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a{
	text-decoration: none;
color: #696969}

#searchbar{
	justify-content: flex-start;
	align-items: center;
	height: 30px;
	background-color: white;
	width:80%;
	color:#696969;
	padding: 5px;
}

.imgfoot {
	margin: 5px 5px;
	height: 90%;
	width: 40%;
	background-color: #696969;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white
}
#s-icon{
	width:7%;
	margin: 2px;
}

h1{ 
color: #696969}